# Auto detect text files and perform LF normalization
* text=auto
Content/CommonHazel/Maps filter=lfs diff=lfs merge=lfs -text
Content/CommonHazel/Materials filter=lfs diff=lfs merge=lfs -text
Content/CommonHazel/Textures filter=lfs diff=lfs merge=lfs -text
Content/CommonHazel/Foliage filter=lfs diff=lfs merge=lfs -text
Content/CommonHazel/Geometry filter=lfs diff=lfs merge=lfs -text
